body {
    background-color: #1E496B;
}

nav {
    background-color: black;
    color: #003900;
    box-shadow: 10px 10px #888888;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

nav ul li:hover {
    background-color: rgb(189, 12, 12);
}

nav ul a {
    text-decoration: none;
    color: #119DAB;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .menu ul {
        flex-direction: row;
    }

    .menu ul li {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
    color: red;
}


p {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.imagen {
    width: 100px;
    height: 100px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
}

#inicio {
    padding: 10px;
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}
.codigo{
    padding: 10px;
    color: #fff;
    margin: 10px;
    width: 35%;
    min-width: 300px;
    background: grey;
}

.codigo img {
    width: 300px;
    height: 300px;
}
.contenedor {
    background-color: black;
    display: flex;
    width: 80%;
    height: auto;
    margin: 50px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    border-radius: 40px;
}

h1 {
    color: wheat;
}

.stock1 {
    padding: 5px;
    float: left;
    color: #fff;
    width: 100%;
    margin: 5px;
    height: auto;
    background: grey;
    border-radius: 30px;
}

@media screen and (min-width:768px) {
    .stock1 {
        padding: 10px;
        float: left;
        color: #fff;
        width: 100%;
        margin: 10px;
        background: grey;
        max-width: 560px;
        min-width: 300px;
        text-align: center;
    }
}

.stock1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.box{
    padding: 10px;
    border: 3px solid wheat ;
}
.box p{
    color: white;
    font-size: 20px;
}
p.box{
    text-align: center;
}
.panelred{
    background-color: rgba(0, 255, 64, 0.685);
    padding: 10px;
    font-size: 1em;
    border-radius: 20px;
}
.panelred1{
    background-color: red;
    padding: 21px;
    font-size: 1.5em;
    border-radius: 20px;
}
#imagen2{
    transform: rotate(90deg);
}