body {
    background-color: #1E496B;
}

nav {
    background-color: black;
    color: #003900;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 20px;
    font-family: 'Raleway', sans-serif;
}

nav ul li:hover {
    background-color: #A8733D;
}

nav ul a {
    text-decoration: none;
    color: #119DAB;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

@media screen and (min-width:768px) {
    .menu ul {
        flex-direction: row;
    }

    .menu ul li {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
    color: #003900;
}


p {
    color: white;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.imagen {
    width: 100px;
    height: 100px;
}

.logo {
    display: flex;
    justify-content: center;
}

.inicio {
    width: 100%;
}

.inicio img {
    width: 80%;
    height: 300px;
}

@media screen and (min-width:768px) {
    .inicio {
        width: 10%;
    }

    .inicio img {
        width: 100%;
        height: auto;
    }
}

.footer {
    display: flex;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    background: black;
    bottom: 0%;
    position: relative;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

@media screen and (min-width:768px) {
    .footer {
        display: flex;
        color: whitesmoke;
        font-family: 'Open Sans', sans-serif;
        background: black;
        bottom: 0%;
        position: absolute;
        align-items: center;
        width: 100%;
        padding: 10px;
        justify-content: center;
    }
}

.contenedor {
    background-color: black;
    display: flex;
    width: 80%;
    height: auto;
    margin: 50px auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

h1 {
    color: wheat;
}

.stock1 {
    padding: 5px;
    float: left;
    color: #fff;
    width: 100%;
    margin: 5px;
    background: grey;
}

@media screen and (min-width:768px) {
    .stock1 {
        padding: 10px;
        float: left;
        color: #fff;
        width: 100%;
        margin: 10px;
        background: grey;
        max-width: 560px;
        min-width: 300px;
    }
}

.stock1 img {
    width: 100px;
}